<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新規タスク登録</h3>
        </div>
        <div class="panel-body">
          <%= render 'tasks/form', task: @task %>
        </div>
      </div>
    </aside>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">タスク一覧</h3>
        </div>
        <div class="panel-body">
          <%= render 'tasks/tasks', tasks: @tasks %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the TaskList</h1>
      <%= link_to 'Signup', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>